/*
 * default.css
 * main css file for ThomasHart.me
 * 
 */

* {
	border: 0;
	padding: 0;
	margin: 0;
}

body {
	background-image: url('/img/background.jpg');
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 150%;
}


/* Header Styles */
h1 {
	font-family: Georgia, serif;
	font-size: 24px;
	margin-bottom: 6px;
}
h2 {
	font-size: 18px;
	margin-bottom: 9px;
}
h3 {
	font-family: Georgia, serif;
	font-size: 18px;
	font-weight: normal;
}

/* Element Styles */
a {
	color: #3399FF;
	text-decoration: none;
}
a:hover {
	color: #0033CC;
}

table {
	border-collapse: collapse;
	width: 100%;
}
	table tr {
		
	}
		table tr td {
			border: 1px solid #000;
			padding: 5px;
		}

hr {
	height: 1px;
	width: 100%;
	color: #000;
	background-color: #000;
	margin-bottom: 20px;
}

/* Utility Classes */

div.clear {
	clear: both;
}

/* Page Styles */
div#wrapper {
	width: 960px;
	margin: auto;
}

div#header {
	width: 560px;
	float: left;
	padding: 20px;
	margin-top: 20px;
	border: 1px solid #000;
	background-color: #FFF;
}
	div#header div#header_left {
		float: left;
		width: 400px;
	}
	div#header div#header_right {
		float: right;
		width: 128px;
	}
	
div#content {
	width: 560px;
	float: left;
	padding: 20px;
	margin: 20px 0px;
	border: 1px solid #000;
	background-color: #FFF;
}
	div#content .topline {
		font-size: 10px;
	}

div#sidebar {
	width: 300px;
	float: right;
}
	div#sidebar > div {
		border: 1px solid #000;
		padding: 20px;
		margin: 20px 0px;
		border: 1px solid #000;
		background-color: #FFF;
	}
	
div#footer {
	width: 560px;
	float: left;
	padding: 20px;
	border: 1px solid #000;
	background-color: #FFF;
	font-size: 10px;
}
