/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:14px/1.326 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: Thomas Hart II / Zen.0 Web Consulting
 */

body {
	background-image: url('../img/background.jpg');
	background-position: center top;
	background-color: #E3E1DD;
	background-repeat: no-repeat;
	font-family: 'Calibri', 'Arial', 'Sans-Serif';
	line-height: 150%;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.9em;
	color: #000;
}
h3 {
	font-size: 1.2em;
	color: #76A1B2;
	font-weight: normal;
}

#container {
	width: 960px;
	margin: auto;
	padding: 0px 30px;
}

header {
	height: 87px;
	width: 960px;
}
header .logo {
	padding-top: 20px;
}
header .tagline {
	position: relative;
	bottom: 10px;
	left: 70px;
}

ul, ol {
	margin-left: 0;
	line-height: 100%;
}

li {
	list-style-type: none;
	list-style-position: inside;
	height: 19px;
	padding-left: 16px;
	padding-top: 1px;
	margin: 5px 0px;
	background-image: url('../img/arrow.png');
	background-repeat: no-repeat;
	background-position: 0px -2px;
}

p {
	margin-bottom: 10px;
}

label {
	display: block;
}
input {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.hr {
	height: 10px;
	background-image: url('../img/hr.png');
	background-repeat: no-repeat;
	margin-bottom: 10px;
	clear: both;
}

#tab-container {
	width: 960px;
	color: #FFF;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-image: url('../img/hr.png');
	background-position: center bottom;
	background-repeat: no-repeat;
}
#tab-container a {
	color: #FFF;
	text-decoration: none;
}
#tabs {
	height: 25px;
	width: 468px;
	line-height: 100%;
}
#tabs .tab {
	width: 92px;
	background-image: url('../img/tab_background.png');
	float: right;
	height: 15px;
	padding: 5px 20px 5px 5px;
	text-align: center;
	position: relative;
}
#tabs .tab.first {
	background-image: url('../img/tab_first_background.png');
}
#tabs .tab.active {
	background-image: url('../img/tab_active_background.png');
	z-index: 101;
}
#tab-content {
	width: 900px;
	padding: 30px;
	background-image: url('../img/tab_content_corner.png');
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #272322;
}
#tab-content h1 {
	font-size: 3em;
}
#tab-footer {
	width: 960px;
	height: 5px;
	background-image: url('../img/tab_footer.png');
	background-repeat: no-repeat;
}

#under-tab-content {
	color: #828478;
	clear: both;
	float: left;
	width: 100%;
}
#under-tab-content #left-column {
	width: 600px;
	float: left;
	padding-right: 110px;
}
#under-tab-content #right-column {
	width: 220px;
	float: right;
	padding-right: 30px;
}
#under-tab-content .three-col {
	width: 270px;
	margin: 25px;
	float: left;
}
/* Home Page Styles */

#home_slider {
	background-image: url('../img/home_slider_arrow.png');
	background-repeat: no-repeat;
	background-position: 230px 60px;
	height: 241px;
}
#home_slider_text {
	width: 270px;
	float: left;
	color: #828478;
}
#home_slider_text .home-slide-text {
	display: none;
}
#home_slider_text .home-slide-text#slide0 {
	display: block;
}
#home_slider_text  .slider-heading {
	font-size: 1.6em;
}
#home_slider_text  .slider-title {
	font-size: 2.2em;
	color: #FFF;
	font-weight: bold;
}
#home_slider_image {
	width: 596px;
	height: 227px;
	padding: 14px 0px 0px 14px;
	background-image: url('../img/portfolio_img_bg.png');
	background-repeat: no-repeat;
	float: right;
}
#home_slider_image img {
	border: 1px solid #999;
}

/* End Home Page Styles */

/* Custom Nivo Slider Styles */
.nivo-slider {
	height: 197px;
	position:relative;
	background:url('../img/loading.gif') no-repeat 50% 50%;
}
.nivo-slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivo-slider a {
    border:0;
    display:block;
}

.nivo-directionNav {
	position: absolute;
	bottom: -50px;
	right: 0;
	width: 250px;
	background-image: url('../img/view_other_projects.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 21px;
}
	
.nivo-directionNav .nivo-prevNav {
	height: 21px;
	width: 24px;
	top: 0;
	background-image: url('../img/arrow_left.png');
}
.nivo-directionNav .nivo-nextNav {
	height: 21px;
	width: 24px;
	top: 0;
	background-image: url('../img/arrow_right.png');
}
/* End Custom Nivo Slider Styles */

/* Portfolio Styles */

.portfolio_div .portfolio-img {
	width: 613px;
	height: 227px;
	padding: 14px;
	margin-left: 30px;
	background-image: url('../img/portfolio_img_bg.png');
	background-repeat: no-repeat;
	float: right;
}
.portfolio_div .portfolio-img img {
	border: 1px solid #999;
}
.portfolio-text {
	width: 270px;
	float: left;
}
.portfolio-text .portfolio-heading {
	font-size: 1.6em;
}
.portfolio-text .portfolio-title {
	font-size: 2.2em;
	color: #000;
	font-weight: bold;
}
/* End Portfolio Styles */

/* Contact Form Styles */

form.contactform {
	
}

form.contactform > div {
	float: left;
	clear: left;
}

form.contactform input {
	width: 400px;
	padding: 9px;
	font-size: 18px;
}
form.contactform div.submit {
	float: right;
	clear: right;
}
form.contactform div.submit input {
	width: 220px;
	padding: 9px;
	font-size: 18px;
}
form.contactform textarea {
	width: 488px;
	height: 174px;
	padding: 9px;
	font-size: 18px;
}

.error {
	color: red;
}


/* End Contact Form Styles */

footer {
	height: 100px;
	width: 960px;
	background-image: url('../img/hr.png');
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 20px;
	clear: both;
}


/**
 * End Primary styles
 *
 */









.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

